* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

nav {
  padding: 2rem 1rem;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 a {
  color: #fff;
  transition: all 0.3s;
}
nav h1 a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  margin-left: 1rem;
}
nav ul li a {
  color: #fff;
  transition: all 0.3s;
}
nav ul li a:hover {
  text-decoration: underline;
}

.blog-content {
  padding: 5rem 1rem;
  background: #f1f1f1;
  color: #333333;
  min-height: 100vh;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog-post {
  background: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
  padding: 1rem;
}

footer {
  background: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 1rem;
}
footer a {
  color: #fff;
}
